@import '~bootstrap/scss/bootstrap';

.logo-font {
    font-family: Lucida Handwriting;
    font-size: 40px;
}

.gardient-blue-white {
    background: rgb(50,221,231);
    background: linear-gradient(214deg, rgba(50,221,231,1) 0%, rgba(42,165,226,1) 100%);
}

.f-20 {
    font-size: 20px;
}

.selected {
    color: rgba(255, 255, 255, 0.5);
    background-color:rgba(255, 255, 255, 0.5);
}

.bg-img {
    background-color: #D9AFD9;
    background-image: linear-gradient(45deg, #D9AFD9 0%, #97D9E1 100%);
}

.bg-light-transparent {
    background-color: rgb(253 253 253 / 35%);
}

.button-color {
    background-color: rgb(67, 153, 192);
    transition: .3s;
}

.button-color:hover {
    background-color: rgb(215, 176, 217) !important;
    box-shadow: 8px 8px rgb(156, 194, 217);
    transition: .3s;
}