.button-action{
    position: relative;
    width: 40px;
    height: 40px;
}

.notification{
    position: absolute;
    background-color: red;
    border-radius: 100%;
    width: 25px;
    height: 25px;
    line-height: 25px;
    font-weight: 600;
    right: 0;
    top: 0;
    transform: translate(50%, -50%);
}


.tr_top{
    border-top:2px solid #02CCBC;
}

.width-40-table{
    width: 40%;
}

.table > :not(caption) > * > *{
    border-bottom-width: 0;
}

.mail_color{
    color:#014742;
}